/*************************
 *
 * Mobile First
 *
 *************************/

.grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(25px, 1fr));
  max-width: 270px;
  grid-column-gap: 10px;
  margin: 0 auto;
}

@media (min-width:375px)  {

  .grid {
    grid-template-columns: repeat(7, minmax(35px, 1fr));
    grid-column-gap: 15px;
    max-width: 335px;
  }

}

/*************************
 *
 * Tablet
 *
 *************************/

@media (min-width: 740px) {

  .grid {
    grid-template-columns: repeat(8, minmax(70px, 1fr));
    grid-column-gap: 20px;
    max-width: 700px;
  }

}

/*************************
 *
 * Desktop 13
 *
 *************************/

@media (min-width: 1020px) {

  .grid {
    grid-template-columns: repeat(12, minmax(60px, 1fr));
    max-width: 940px;
  }

}

/*************************
 *
 * Desktop 15
 *
 *************************/

@media (min-width: 1440px) {

  .grid {
    grid-template-columns: repeat(12, minmax(95px, 1fr));
    max-width: 1360px;
  }

}
